<h1>Editing Vacancy</h1>
<div class="input-group-addon">

<%= render 'form', vacancy: @vacancy %>
</div >
<div class="ttt">
<%= link_to 'Show', @vacancy, class: "btn btn-large btn-primary", type: "button" %> |
<%= link_to 'Back', vacancies_path, class: "btn btn-large btn-primary", type: "button" %>
</div >
