<div class="short-text container">
  <h1>About This Application For Recruiting</h1>

  <br>
  <p class="text-dangero" >With this application, you can create a database of applicants and be always aware of all the events of your candidates</p>
  <div class="container-about"></div>

</div>