<div class="short-text container">
<h1>Contacts</h1>


  <p class="text-dangero-contacts" >Tel: +38097-93-66-295</p>
  <p class="text-dangero-contacts" >Skype: akvelibrium02</p>
  <br>
<div class="container-about2"></div>

</div>