<div class="short-text container">
  <h1>My Planing</h1>

<br>
  <h2>Deadline 25 November</h2>

  <p class="text-my-planing" ></p>
  <p class="text-my-planing" >Release 1.0 - Authorization</p>
  <p class="text-my-planing" >Release 1.1 - Search Field</p>
  <p class="text-my-planing" >Release 1.2 - In Profile Add Avatar</p>
  <p class="text-my-planing" >Release 1.3 - In Candidate Profile Add photo</p>
  <br><br>

  <h2>Deadline 30 December</h2>

  <p class="text-my-planing" ></p>
  <p class="text-my-planing" >Release 2.0 - Vacancies will be displayed in a Home Page</p>

  <!--<div class="container-about2"></div>-->

</div>