<div class="short-text container">
  <h1>My Planing</h1>

<!--<br>-->
  <!--<h2>Deadline 25 November</h2>-->

  <!--<p class="text-my-planing" ></p>-->
  <!--<p class="text-my-planing" >Release 1.0 - Authorization</p>-->
  <!--<p class="text-my-planing" >Release 1.1 - Search Field</p>-->
  <!--<p class="text-my-planing" >Release 1.2 - In Profile Add Avatar</p>-->
  <!--<p class="text-my-planing" >Release 1.3 - In Candidate Profile Add photo</p>-->
  <!--<br><br>-->

  <!--<h2>Deadline 30 December</h2>-->

  <!--<p class="text-my-planing" ></p>-->
  <!--<p class="text-my-planing" >Release 2.0 - Vacancies will be displayed in a Home Page</p>-->

  <!--<div class="container-about2"></div>-->

</div>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Effects - Show Demo</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    .toggler { width: 500px; height: 200px; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 1000px; height: 450px; padding: 0.4em; position: relative; }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $( function() {
          // run the currently selected effect
          function runEffect() {
              // get effect type from
              var selectedEffect = $( "#effectTypes" ).val();

              // Most effect types need no options passed by default
              var options = {};
              // some effects have required parameters
              if ( selectedEffect === "fold" ) {
                  options = { percent: 50 };
              } else if ( selectedEffect === "size" ) {
                  options = { to: { width: 500, height: 500 } };
              }

              // Run the effect
              $( "#effect" ).show( selectedEffect, options, 500, callback );
          };

          //callback function to bring a hidden box back
          function callback() {
              setTimeout(function() {
                  $( "#effect:visible" ).removeAttr( "style" ).fadeOut();
              }, 10000 );
          };

          // Set effect from select menu value
          $( "#button" ).on( "click", function() {
              runEffect();
          });

          $( "#effect" ).hide();
      } );
  </script>
</head>
<body>




<div class="toggler">
  <div id="effect" class="ui-widget-content ui-corner-all">
    <h3 class="ui-widget-header ui-corner-all">My Planing</h3>
    <br>
    <h2>Deadline 25 November</h2>

    <p class="text-my-planing" ></p>
    <p class="text-my-planing" >Release 1.0 - Authorization</p>
    <p class="text-my-planing" >Release 1.1 - Search Field</p>
    <p class="text-my-planing" >Release 1.2 - In Profile Add Avatar</p>
    <p class="text-my-planing" >Release 1.3 - In Candidate Profile Add photo</p>
    <br><br>

    <h2>Deadline 30 December</h2>

    <p class="text-my-planing" ></p>
    <p class="text-my-planing" >Release 2.0 - Vacancies will be displayed in a Home Page</p>
    <br>

  </div>
</div>





<select name="effects" id="effectTypes">

  <option value="fold"></option>

</select>

<button id="button" class="ui-state-default ui-corner-all">Run Effect</button>


</body>
</html>