


<footer class="footer">
  <small>
    <a href="http://railstutorial.org/" >Rails Tutorial</a>
    by Michael Hartl
  </small>



  <small class="Tesl">
    Tesl@Vova
  </small>

  <small class="myplaning">
    <a href="http://localhost:3000/myplaning" >My Planing</a>
  </small>

  <nav class="col-md-6 .col-md-offset-6">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/Teslenko/Recruiting-App">Git Hub</a></li>
    </ul>
  </nav>
</footer>
